@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
}

#pet_selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.title {
    color: white;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
}

.subtitle {
    color: white;
    font-size: 20px;
}

.cards {
    display: flex;
    gap: 10px;
    max-width: 100%;
}

.mokepon-cards {
    width: 180px;
    height: 100px;
    background: #11468F;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.mokepon-cards img {
    width: 80px;
}

#btn_pet {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

input {
    display: none;
}

#attack_selector {
    flex-direction: column;
    align-items: center;
}

.attack_button {
    background-color: #11468F;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 200px;
    border-color: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.attack_button:hover{
    background-color:  #EEEEEE;
    color: #041562;
}

#messages {
    width: 280px;
    background-color: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#btn_reboot {
    border: transparent;
    color: #11468F;
    font-family: 'Poppins', sans-serif;
}

.combat_log {
    display: grid;
    grid-template-columns: 100px 60px 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.player_log {
    grid-column-start: 1;
    justify-content: center;
    border: 2px solid white;
    margin-top: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.enemy_log {
    grid-column-start: 3;
    justify-content: center;
    border: 2px solid white;
    width: 100px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}